{{ define "main" }}

<article class="post">
  <header class="post-header">
    <div class="post-meta">
      {{ .Date.Format "2006-01-02" }}
      ·
      {{ .ReadingTime }} min read

    </div>
  </header>

  <div class="post-content-wrapper">
    <aside class="post-sidebar">
      {{ if .TableOfContents }}
      <div class="post-toc">
        <div class="toc-content" id="toc-content">
          {{ .TableOfContents }}
        </div>
      </div>
      {{ end }}
    </aside>

    <div class="post-content">
      {{ .Content }}
    </div>
  </div>
</article>
{{ end }}